In [25]:
student = [
    {
        'name': 'Ahmad',
        'father\'s name': 'Mohammad',
        'age': 23,
        'scores_records': [
            {
                'semester': 1,
                'total': 89,
            },
            {
                'semester': 2,
                'total': 95
            },
            {
                'semester': 3,
                'total': 98
            }
        ],
        'courses_taken': [
            {
                'id': 'CS101',
                'name': 'Intro to Computer Science',
            },
            {
                'id': 'CS102',
                'name': 'Intro to Programming with Python',
            },
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS204',
                'name': 'Advanced Algorithmics',
            },
            {
                'id': 'CS301',
                'name': 'Theory of Computation',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10001',
            'street': 'Badam Bagh, Karte Parwan',
            'phones': ['0799000111', '0798111000'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Mahmood',
        'father\'s name': 'Mohammad',
        'age': 21,
        'scores_records': [
            {
                'semester': 1,
                'total': 85
            },
            {
                'semester': 2,
                'total': 93
            },
            {
                'semester': 3,
                'total': 97
            }
        ],
        'courses_taken': [
            {
                'id': 'CS101',
                'name': 'Intro to Computer Science',
            },
            {
                'id': 'CS102',
                'name': 'Intro to Programming with Python',
            },
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS204',
                'name': 'Advanced Algorithmics',
            },
            {
                'id': 'CS301',
                'name': 'Theory of Computation',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10001',
            'street': 'Badam Bagh, Karte Parwan',
            'phones': ['0798111000'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Nabi',
        'father\'s name': 'Jawed',
        'age': 24,
        'scores_records': [
            {
                'semester': 1,
                'total': 85
            },
            {
                'semester': 2,
                'total': 93
            },
            {
                'semester': 3,
                'total': 97
            }
        ],
        'courses_taken': [
            {
                'id': 'CS101',
                'name': 'Intro to Computer Science',
            },
            {
                'id': 'CS102',
                'name': 'Intro to Programming with Python',
            },
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS205',
                'name': 'Distributed Systems',
            },
            {
                'id': 'CS302',
                'name': 'Computer Networks',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10002',
            'street': '2nd Street, Khair Khana',
            'phones': ['0799000110', '0798111001'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Elyas',
        'father\'s name': 'Nabi Jan',
        'age': 24,
        'scores_records': [
            {
                'semester': 1,
                'total': 90
            },
            {
                'semester': 2,
                'total': 89
            },
            {
                'semester': 3,
                'total': 84
            }
        ],
        'courses_taken': [
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS205',
                'name': 'Distributed Systems',
            },
            {
                'id': 'CS302',
                'name': 'Computer Networks',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10002',
            'street': '2nd Street, Khair Khana',
            'phones': ['0799000110', '0798111001'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Elyas',
        'father\'s name': 'Nabi Jan',
        'age': 24,
        'scores_records': [
            {
                'semester': 1,
                'total': 90
            },
            {
                'semester': 2,
                'total': 89
            },
            {
                'semester': 3,
                'total': 84
            }
        ],
        'courses_taken': [
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS205',
                'name': 'Distributed Systems',
            },
            {
                'id': 'CS302',
                'name': 'Computer Networks',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10002',
            'street': '2nd Street, Khair Khana',
            'phones': ['0799000110', '0798111001'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Ahmad',
        'father\'s name': 'Mohammad',
        'age': 23,
        'scores_records': [
            {
                'semester': 1,
                'total': 89,
            },
            {
                'semester': 2,
                'total': 95
            },
            {
                'semester': 3,
                'total': 94
            }
        ],
        'courses_taken': [
            {
                'id': 'CS101',
                'name': 'Intro to Computer Science',
            },
            {
                'id': 'CS102',
                'name': 'Intro to Programming with Python',
            },
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS204',
                'name': 'Advanced Algorithmics',
            },
            {
                'id': 'CS301',
                'name': 'Theory of Computation',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10001',
            'street': 'Badam Bagh, Karte Parwan',
            'phones': ['0799000111', '0798111000'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    },
    {
        'name': 'Karim',
        'father\'s name': 'Mohammad',
        'age': 23,
        'scores_records': [
            {
                'semester': 1,
                'total': 81,
            },
            {
                'semester': 2,
                'total': 95
            },
            {
                'semester': 3,
                'total': 98
            }
        ],
        'courses_taken': [
            {
                'id': 'CS101',
                'name': 'Intro to Computer Science',
            },
            {
                'id': 'CS102',
                'name': 'Intro to Programming with Python',
            },
            {
                'id': 'CS103',
                'name': 'Math for Computer Science',
            },
            {
                'id': 'CS104',
                'name': 'Data Structures with C',
            },
            {
                'id': 'CS201',
                'name': 'Structure and Design of Computer Programs',
            },
            {
                'id': 'CS202',
                'name': 'Data Structures and Algorithms',
            },
            {
                'id': 'CS203',
                'name': 'Object Oriented Programming with Python',
            },
            {
                'id': 'CS204',
                'name': 'Advanced Algorithmics',
            },
            {
                'id': 'CS301',
                'name': 'Theory of Computation',
            },
        ],
        'address':{
            'country': 'Afghanistan',
            'city': 'Kabul',
            'zip_code': '10001',
            'street': 'Badam Bagh, Karte Parwan',
            'phones': ['0799000111', '0798111000'],
        },
        'schools_attended': [
            {
                'id': '001',
                'school': 'Primary School'
            },
            {
                'id': '002',
                'school': 'High School'
            },
            {
                'id': '003',
                'school': 'University'
            }
        ]
    }
]

In [26]:
# Write code to do the following:
# 1. What's the total number of courses taken by each student?
# 2. Print name of students,but don't display repeated names(from each repeated name one should be display)?
# 3. Print names of students and total of scores in all semester the take(ahmad ***)?
# 4. Update street address of ahmad from (Badam Bagh, Karte Parwan) to (Taimany) and also add previous_street:Badam Bagh, Karte Parwan
# 5. Which names are repeated in our student list?
# 6. Add 2 points to all students 1st semester score.
# 7. Print the addresses of student which are same. 
# 8. Print print name of students with average number of all semesters
# 9. Are Ahmad and Karim are living in one house ?
# 10. Print the date of birth of all students(current_year-age)
# 11. Subtrack 8 points from 3rd semester of each students ?
# 12. How many phone numbers does Mahmood have ?
# 13. Nabi has attend graduate school update his records accordingly.
# 14. Add the following number to Nabi's records 0788110011
# 15. Print the highest total score acheived by a student
# 16. Change Nabi's city to Kandahar and update the previous city with key:pre_city(pre_city:Kabul)
# 17. Change Nabi's school name with id=003 to 'College' and add key:pre_id(pre_id:003)
# 18. Print the ahmad details like a table just mentioned fields(name ,Father name,age,address(concat(country,city,street,zipcode))) first print title then print values
# 19. What kind of contact information do we have available from Karim?
# 20. Print the total of max score of student(who took the max number) and min score of student (max+min)

In [65]:
# 1. What's the total number of courses taken by each student?
total =len(student[0]['courses_taken']) + len(student[1]['courses_taken'])\
       +len(student[2]['courses_taken'])+ len(student[3]['courses_taken'])\
       +len(student[4]['courses_taken'])+ len(student[5]['courses_taken'])\
            +len(student[6]['courses_taken'])
total

59

In [66]:
# 2. Print name of students,but don't display repeated names(from each repeated name one should be display)?
name={student[0]['name'],student[1]['name'],student[2]['name'],student[3]['name'],student[4]['name'],student[5]['name'],student[6]['name']}
name

{'Ahmad', 'Elyas', 'Karim', 'Mahmood', 'Nabi'}

In [11]:
# 3. Print names of students and total of scores in all semester the take(ahmad ***)?
s1=[student[0]["name"],
    [student[0]['scores_records'][0]['total'],
     student[0]['scores_records'][1]['total'],
     student[0]['scores_records'][2]['total']
        ]
    ]
s2=[student[1]["name"],
    [student[1]['scores_records'][0]['total'],
     student[1]['scores_records'][1]['total'],
     student[1]['scores_records'][2]['total']
        ]
    ]
s3=[student[2]["name"],
    [student[2]['scores_records'][0]['total'],
     student[2]['scores_records'][1]['total'],
     student[2]['scores_records'][2]['total']
        ]
    ]
s4=[student[3]["name"],
    [student[3]['scores_records'][0]['total'],
     student[3]['scores_records'][1]['total'],
     student[3]['scores_records'][2]['total']
        ]
    ]
s5=[student[4]["name"],
    [student[4]['scores_records'][0]['total'],
     student[4]['scores_records'][1]['total'],
     student[4]['scores_records'][2]['total']
        ]
    ]
s6=[student[5]["name"],
    [student[5]['scores_records'][0]['total'],
     student[5]['scores_records'][1]['total'],
     student[5]['scores_records'][2]['total']
        ]
    ]
s7=[student[6]["name"],
    [student[6]['scores_records'][0]['total'],
     student[6]['scores_records'][1]['total'],
     student[6]['scores_records'][2]['total']
        ]
    ]
total_scores=[
    sum(s1[1]),
    sum(s2[1]),
    sum(s3[1]),
    sum(s4[1]),
    sum(s5[1]),
    sum(s6[1]),
    sum(s7[1])
]
print(s1[0],total_scores[0])
print(s2[0],total_scores[1])
print(s3[0],total_scores[2])
print(s4[0],total_scores[3])
print(s5[0],total_scores[4])
print(s6[0],total_scores[5])
print(s7[0],total_scores[6])

Ahmad 282
Mahmood 275
Nabi 275
Elyas 263
Elyas 263
Ahmad 278
Karim 274

In [75]:
# 4. Update street address of ahmad from (Badam Bagh, Karte Parwan) to (Taimany) and also add previous_street:Badam Bagh, Karte Parwan
student[0]['address'].update({
    'street':'Taimany',
    'previous_street':'Badam Bagh, Karte Parwan'
})
student[0]['address']

{'country': 'Afghanistan',
 'city': 'Kabul',
 'zip_code': '10001',
 'street': 'Taimany',
 'phones': ['0799000111', '0798111000'],
 'previous_street': 'Badam Bagh, Karte Parwan'}

In [37]:
# 5. Which names are repeated in our student list?
names_list=[
    student[0]['name'],
    student[1]['name'],
    student[2]['name'],
    student[3]['name'],
    student[4]['name'],
    student[5]['name'],
    student[6]['name']
]
names_set=list(set(names_list))
names_dictionary=dict()
names_dictionary[names_set[0]]=names_list.count(names_set[0])
names_dictionary[names_set[1]]=names_list.count(names_set[1])
names_dictionary[names_set[2]]=names_list.count(names_set[2])
names_dictionary[names_set[3]]=names_list.count(names_set[3])
names_dictionary[names_set[4]]=names_list.count(names_set[4])
names_dictionary

{'Elyas': 2, 'Mahmood': 1, 'Nabi': 1, 'Karim': 1, 'Ahmad': 2}

In [138]:
# 6. Add 2 points to all students 1st semester score.
student[0]['scores_records'][0]['total']+=2
student[1]['scores_records'][0]['total']+=2
student[2]['scores_records'][0]['total']+=2
student[3]['scores_records'][0]['total']+=2
student[4]['scores_records'][0]['total']+=2
student[5]['scores_records'][0]['total']+=2
student[6]['scores_records'][0]['total']+=2

In [179]:
# 7. Print the addresses of student which are same. 
s1_add=tuple(student[-1]['address'].values())
s2_add=tuple(student[1]['address'].values())

True

In [185]:
# 8. Print print name of students with average number of all semesters
print(s1[0],sum(s1[1])/len(s1[1]))
print(s2[0],sum(s2[1])/len(s2[1]))
print(s3[0],sum(s3[1])/len(s3[1]))
print(s4[0],sum(s4[1])/len(s4[1]))
print(s5[0],sum(s5[1])/len(s5[1]))
print(s6[0],sum(s6[1])/len(s6[1]))
print(s7[0],sum(s7[1])/len(s7[1]))

Ahmad 94.66666666666667
Mahmood 92.33333333333333
Nabi 92.33333333333333
Elyas 88.33333333333333
Elyas 88.33333333333333
Ahmad 94.66666666666667
Karim 92.0

In [189]:
# 9. Are Ahmad and Karim are living in one house ?
student[0]['address']['street'] == student[-1]['address']['street']

False

In [193]:
# 10. Print the date of birth of all students(current_year-age)
print(2020-student[0]['age'])
print(2020-student[1]['age'])
print(2020-student[2]['age'])
print(2020-student[3]['age'])
print(2020-student[4]['age'])
print(2020-student[5]['age'])
print(2020-student[6]['age'])

1997
1999
1996
1996
1996
1997
1997

In [196]:
# 11. Subtrack 8 points from 3rd semester of each students ?
student[0]['scores_records'][-1]['total']+=8
student[1]['scores_records'][-1]['total']+=8
student[2]['scores_records'][-1]['total']+=8
student[3]['scores_records'][-1]['total']+=8
student[4]['scores_records'][-1]['total']+=8
student[5]['scores_records'][-1]['total']+=8
student[6]['scores_records'][-1]['total']+=8

In [201]:
# 12. How many phone numbers does Mahmood have ?
len(student[1]['address']['phones'])

1

In [208]:
# 13. Nabi has attend graduate school update his records accordingly.

student[2]['schools_attended'].append({
    "id":"004",
    'school':'graduate school'
})

student[2]['schools_attended']

[{'id': '001', 'school': 'Primary School'},
 {'id': '002', 'school': 'High School'},
 {'id': '003', 'school': 'University'},
 {'id': '004', 'school': 'graduate school'}]

In [216]:
# 14. Add the following number to Nabi's records 0788110011
student[2]['address']['phones'].append("0788110011")
student[2]['address']['phones']

['0799000110', '0798111001', '0788110011']

In [219]:
# 15. Print the highest total score acheived by a student
max(total_scores)

292

In [224]:
# 16. Change Nabi's city to Kandahar and update the previous city with key:pre_city(pre_city:Kabul)
student[2]['address'].update({
    'city':"Kandahar",
    "pre_city":"Kabul"
})

In [232]:

# 17. Change Nabi's school name with id=003 to 'College' and add key:pre_id(pre_id:003)
student[2]['schools_attended'][2].update({
    'school':'College',
    "pre_id":"003"
})

In [241]:
# 18. Print the ahmad details like a table just mentioned fields(name ,Father name,age,address(concat(country,city,street,zipcode))) first print title then print values
print('name | Father | age |    address    |')
print(f"""{student[0]['name']} | {student[0]["father's name"]} | {student[0]['age']} |{student[0]['address']['country']},{student[0]['address']['city']},{student[0]['address']['street']},{student[0]['address']['zip_code']}|""")

name | Father | age |    address    |
Ahmad | Mohammad | 23 |Afghanistan,Kabul,Taimany,10001|

In [244]:
# 19. What kind of contact information do we have available from Karim?
student[-1]["address"].keys()

dict_keys(['country', 'city', 'zip_code', 'street', 'phones'])

In [38]:
# 20. Print the total of max score of student(who took the max number) and min score of student (max+min)
scores=[
    names_list,
    [sum(s1[1]),sum(s2[1]),sum(s3[1]),sum(s4[1]),sum(s5[1]),sum(s6[1]),sum(s7[1])]
]
max_score=max(scores[1])
min_score=min(scores[1])
print(f"max score: {scores[0][scores[1].index(max_score)]} - {max_score}")
print(f"min score: {scores[0][scores[1].index(min_score)]} - {min_score}")

max score: Ahmad - 282
min score: Elyas - 263